[Unit]
Wants=network-online.target
After=network-online.target
Description=Astronomy Picture of the Day Wallpaper

[Service]
Type=oneshot
User=USER
Environment=DISPLAY=:0
ExecStart=/bin/bash /usr/bin/apodw

[Install]
WantedBy=multi-user.target
