[Unit]
Description=Astronomical Picture of the Day Wallpaper timer

[Timer]
OnCalendar=hourly
Persistent=true
Unit=apodw.service

[Install]
WantedBy=apodw.service
